-# http://0.0.0.0:3000/widgets/colorFill

%div( style='font: normal 15px/30px Helvetica; background-color: #ff0000; width: 100%; height: 100%; display: inline-block; overflow: hidden; opacity:0.5' )
	= insert( _.views, "" )
