-# View should be logicless
-# No Dimensions in CSS
-# If you don't have Javascript you dont need rollovers
-# Javascript-less site should be minimal and semantic

-# http://0.0.0.0:3000/widgets/miniInLineMenu

- push( hoo_mini_inline_menu )

%div( class='hooMiniInlineMenu' style="overflow:auto; text-align: center; padding: 2px 10px 2px 10px; margin: 0px 0 8px 0; float: right; background: transparent url( #{_.img} )")
	- _.views.each_with_index do |view, i|
		%div( class='hooMiniInlineMenu_itemWrapper' style="font: normal normal 10px/15px Helvetica; background-color:transparent; display:inline-block; overflow: auto; min-width:50px; float: left; padding: 0 5px 0 5px;")
			= insert( view, "" )
		- if( i < (_.views.count-1))
			%div( class="hooMiniInlineMenu_spacer" style="display: inline-block; width: 15px; height: 15px; background-color:transparent; float:left")
				%div( style="width:1px; height:100%; background-color:gray; margin:0 7px 0 7px;")



- if( _.includeOnce? )
	%style(type="text/css")
		:sass
			.borderradius .hooMiniInlineMenu
				border: 0px solid lightgray
				-webkit-border-radius: 4px
				-moz-border-radius: 4px
				border-radius: 4px
