-# View should be logicless
-# No Dimensions in CSS
-# If you don't have Javascript you dont need rollovers
-# Javascript-less site should be minimal and semantic

-# http://0.0.0.0:3000/widgets/jqueryTestButton

- push( jquery_button_test )

%div[_]{ :data=>{'jsclass'=>_.qualifiedJsClassName} }

- if( _.includeOnce? )
	:javascript

		ABoo.Gui_Views_Drawing_Buttons_Jquery_JqueryButtonTest = ABoo.HooWidget.extend({

			init: function( /* init never has args */ ) {
				this._super();
				 this.div$.button();
			}
		});
