- push( boo_main_details )

-# Please fill me in
%div( style="background-color: " )

    %div
        %div.bigType( style="" )
            %span( style="font: normal bold 25px/30px Helvetica; color: #3574d7;" ) 5live broadcast test - Rufuus on the brrs sfadio crown
        %div.smallType( style="margin-top: -15px;" )
            %span( style="font: normal 12px/15px Georgia; color: #626c7c;" ) Yesterday at 3pm, San Francisco Bay

    %div( style="clear:both;" )

