-# push( boo_main_details )

-# Please fill me in
%div( style="background-color: " )

    %div
        %div.sansBigBold
            %span( style="color: #3574d7;" ) 5live broadcast test - Rufuus on the brrs sfadio crown
        %div.serifVSmall( style="margin-top: 0px;" )
            %span( style="color: #626c7c;" ) Yesterday at 3pm, San Francisco Bay

    %div( style="clear:both;" )

