-# push( cropped_img_with_header )

%div( style="position: relative; border: 1px solid #bbb;" )
    -# Image
    %div( style="border: 0px solid lightgray;" )
        %a( href='#' )
            =  insert( _.views[0], "" )

    -# Header
    %div( style="position: absolute; top:0; width:100%; " )
        =  insert( _.views[1], "" )
