- push( follow_button_section )

-# Not convinced that this 'float' should be a property of the widget. ie, the widget should be able to be position anywhere
-# Maybe look at adding widget.flotRight();

-# http://0.0.0.0:3000/widgets/followButtonSection

%div( style='margin:-10px 0 0 0;')
= insert( _.inLineMenu, "hey you need the edit button" )

-# Follow button
-#= insert( _.largeButton, "hey you need the edit button" )
-# itunes and rss link buttons
-#%div( style="padding: 7px 2px 8px 2px; overflow: auto;" )
-#	%ul
-#		%li( style="display: inline;" )
-#			%a
-#				%img( src="/images/buttons/itunes.gif" style="display:block; float: left; padding-left:0px; padding-right:2px")
-#		%li( style="display: inline;" )
-#			%a
-#				%img( src="/images/buttons/rss.gif" style="display:block; float: right; padding-left:5px" )
