- push( table_list )

%div( style="position: relative;" )

    -# Header
    %div( style="" )
        =  insert( _.views[0], "" )

    -# Table
    %div( style="margin: -15px 7px 0 7px;" )
        =  insert( _.views[1], "" )

