-# push( table_header )

-# Not convinced that this 'float' should be a property of the widget. ie, the widget should be able to be position anywhere
-# Maybe look at adding widget.flotRight();
/table_header
%div( style="position: relative;" )
    %div.smallType( style="background: url( #{_.image} ) no-repeat left top; overflow: auto; height:30px;" )
        %a
            %span( style="position: relative; top: -1px; font: bold 11px/15px Helvetica; color: #ffffff; padding-top:7px !important; padding-left:7px;")
                #{_.label}





