- push( table_list )

%div( style="position: relative; background-color: #{_.backgroundColor}; border: 0px solid #ccc; padding: 2px" )

    -# Header
    %div( style="" )
        =  insert( _.views[0], "need header view" )

    -# Table
    %div( style="margin: -15px 5px 0 1px;" )
        =  insert( _.views[1], "need list view" )

