- push( user_details_banner )

-# Please fill me in
%div( style="" )

    %img( width='75' height='75' src='/images/my_pic.png' alt='fuck a horse' style="margin-right: 15px; float: left;" )

    %div
        %div.bigType( style="" )
            steve hooley
        %div.mediumType( style="margin-top: -15px;" )
            190 boos / 0 favourites / 347 followers

    %div( style="clear:both;" )
