/
	render blueView partial 3 times with each view
	because 'views' is a pluralised collection the partial will be rendered views.length times
	and each have a variable 'blueView' (name of the partial) which is the item from the the collection

= insert( @window.contentView.views, "" )
