// http://www.alistapart.com/articles/howtosizetextincss/

// http://www.alistapart.com/articles/settingtypeontheweb



/* simple reset */
html, body, ul, ol, li, form, fieldset, legend {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: "helvetica neue", arial, sans-serif;
}
h1, h2, h3, h4, h5, h6, p { margin-top: 0; }
fieldset,img { border: 0; }
legend { color: #000; }
li { list-style: none; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
table
{
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td
{
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

input, textarea, select
{
	font-size: 110%;
	line-height: 1.1;
}

abbr, acronym
{
	border-bottom: .1em dotted;
	cursor: help;
}

body {width:100%;}
h1 {margin: 32px 0 11px; font-size: 3em;}
h2 {padding: 0 0 8px; font-size: 2.5em;}
h1, h2 {letter-spacing: -0.0125em; font-weight: bold;}
p {margin: 0 0 .8em; line-height: 1.35em;}
a {font-weight: bold; color: #1389e5; text-decoration: underline; outline: none;}
a:hover {color: #fff; text-decoration: none; background-color: #1389e5;}
a:active {color: #fff; background-color: #211922;}
a:hover img {opacity: .92; filter: alpha(opacity=92);}
#noHover a:hover {color: #fff; background-color: none;}
#noHover a:active {color: #fff; background-color: none;}
input, textarea {color: #777;}
input:focus, textarea:focus {color: #211922 !important;}
textarea, input[type="text"], input[type="password"] {padding: 5px 8px; line-height: 1em; background-color: #fff; border: 1px solid; border-color: #ccc #bbb #aaa; -moz-box-shadow: 0 1px #e7e7e7; -webkit-box-shadow: 0 1px #e7e7e7;}

/* REUSABLE STYLES
---------------------------------------------- */
.hidden {display: none !important;}
.highlighted {color: #211922; background-color: #ff0 !important;}
.error {font-size: 1.3em; color: #f00;}
.clear {clear: both !important;}
.floatRight {float: right !important;}
.floatLeft {float: left !important;}
.halfRight {float: right; width: 49%; overflow: hidden;}
.halfLeft {float: left; width: 49%; overflow: hidden;}
.third {float: left; width: 31%; margin-right: 2.83%;}
.thirdRight {float: right; width: 32%;}
.twoThirdsLeft {width: 65%; margin-right: 2%;}
.twoThirdsRight {float: right; width: 65%;}
.oneFifthLeft {float: left; width: 188px;}
.oneFifth {float: right; width: 185px; padding-left: 6px;}
.twoFifths {float: right; width: 372px;}
.twoFifthsLeft {float: left; width: 372px;}
.threeFifths {float: left; width: 564px;}
.threeFifthsRight {float: right; width: 564px;}
.threeFifthsCenter {float: left; width: 559px; margin-left: 9px;}
.fourFifths {float: left; width: 754px;}
.quarterLeft {float: left; width: 24%; margin-right: 1%;}
.quarterRight {float: right; width: 24%;}
.threeQuartersLeft {float: left; width: 74%;}
.threeQuartersRight {float: right; width: 74%;}
.noBorder {border-width: 0 !important;}
.noBorderTop {border-top-width: 0 !important;}
.noBorderRight {border-right-width: 0 !important;}
.noBorderBottom {border-bottom-width: 0 !important;}
.noBorderLeft {border-left-width: 0 !important;}
.noMarginTop {margin-top: 0 !important;}
.noMarginRight {margin-right: 0 !important;}
.noMarginBottom {margin-bottom: 0 !important;}
.noMarginLeft {margin-left: 0 !important;}
.fixed {position: fixed !important;}
.invisible {visibility: hidden !important;}
.rule  { border-bottom-color:#DDDDDD; border-bottom-style:solid; border-bottom-width:1px; clear:both; height:0;
margin:15px 0px; overflow: hidden;}



	.colmask {
		position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
	    clear:both;
	    float:left;
        width:100%;			/* width of whole page */
		overflow:hidden;	/* This chops off any overhanging divs */
	}

	.rightmenu .colleft {
        float:left;
        width:200%;
        position:relative;
        right:100%;
    }
    .rightmenu .col1wrap {
	    float:left;
	    width:50%;
	    position:relative;
	    left:50%;
	}
	.rightmenu .col1 {
        overflow:hidden;
	}
    .rightmenu .col2 {
        float:right;
        position:relative;
    }

