- push( _hoo_rounded_panel_view )

%div{:style=>"width:#{_hoo_rounded_panel_view.width}px; height:#{_hoo_rounded_panel_view.height}px; background-color:#0000ff;"}
	= render _hoo_rounded_panel_view.views

