- push( hoo_blue_view )

%div{ :style=>"width:#{_.width}px; height:#{_.height}px; background-color:#0000ff;" }
	= insert( _.views, "" )
	/ Ideally i would like this path, but it seems like a pain in the arse at the moment = render '../../lib/gui/views/partial'



