- push( hoo_info_one_view )

%div{ :style=>"" }
	%a{:href => "www.mysite.com"}
		%img{ :src=>"/images/my_pic.png", :alt=>"My Pic", :width=>"105", :height=>"105", :style=>"float:left;"}
	.mediumType #{_.title}
	.smallType #{_.text}
	%div{ :style=>"clear:both;" }
