- push( hoo_fixed_size_img )

-# Draw a div with a background img at fixed size
%div[_]( style="width: #{_.width}px;" )
    %a( href="www.apple.com" )
        %img( src="#{_.img}" width="#{_.width}" height="#{_.height}" alt="map select" style="display:block;" )
    %a( href="www.apple.com" )
        %span.smallType map
