/* simple reset */
html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0;
  font-size: 6px;
  line-height: 15px;
  font-family: helvetica, arial, sans-serif; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0; }

fieldset, img {
  border: 0; }

legend {
  color: #111; }

/* never use black */
li {
  list-style: none; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  vertical-align: top;
  font-weight: normal; }

input, textarea, select {
  font-size: 0%;
  line-height: 15px; }

abbr, acronym {
  border-bottom: .1em dotted;
  cursor: help; }

body {
  width: 100%; }

h1 {
  margin: 0; }

h2 {
  padding: 0; }

a {
  color: #1389e5;
  text-decoration: none;
  outline: none;
  font-weight: bold; }

a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #1389e5; }

a:active {
  color: #fff;
  background-color: #211922; }

a:hover img {
  opacity: .92;
  filter: alpha(opacity=92); }

#noHover a:hover {
  color: #fff;
  background-color: none; }

#noHover a:active {
  color: #fff;
  background-color: none; }

input, textarea {
  color: #777; }

input:focus, textarea:focus {
  color: #211922 !important; }

textarea, input[type="text"], input[type="password"] {
  background-color: #fff;
  border: 1px solid;
  border-color: #ccc #bbb #aaa;
  -moz-box-shadow: 0 1px #e7e7e7;
  -webkit-box-shadow: 0 1px #e7e7e7; }

/* REUSABLE STYLES
---------------------------------------------- */
.hidden {
  display: none !important; }

.hidden2 {
  position: absolute;
  top: 0;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.highlighted {
  color: #211922;
  background-color: #ff0 !important; }

.error {
  font-size: 1.3em;
  color: #f00; }

.clear {
  clear: both !important; }

.floatRight {
  float: right !important; }

.floatRight_relative {
  float: right;
  position: relative; }

.floatLeft {
  float: left !important; }

.floatLeft_relative {
  float: left;
  position: relative; }

.halfRight {
  float: right;
  width: 49%;
  overflow: hidden; }

.halfLeft {
  float: left;
  width: 49%;
  overflow: hidden; }

.third {
  float: left;
  width: 31%;
  margin-right: 2.83%; }

.thirdRight {
  float: right;
  width: 32%; }

.twoThirdsLeft {
  width: 65%;
  margin-right: 2%; }

.twoThirdsRight {
  float: right;
  width: 65%; }

.oneFifthLeft {
  float: left;
  width: 188px; }

.oneFifth {
  float: right;
  width: 185px;
  padding-left: 6px; }

.twoFifths {
  float: right;
  width: 372px; }

.twoFifthsLeft {
  float: left;
  width: 372px; }

.threeFifths {
  float: left;
  width: 564px; }

.threeFifthsRight {
  float: right;
  width: 564px; }

.threeFifthsCenter {
  float: left;
  width: 559px;
  margin-left: 9px; }

.fourFifths {
  float: left;
  width: 754px; }

.quarterLeft {
  float: left;
  width: 24%;
  margin-right: 1%; }

.quarterRight {
  float: right;
  width: 24%; }

.threeQuartersLeft {
  float: left;
  width: 74%; }

.threeQuartersRight {
  float: right;
  width: 74%; }

.noBorder {
  border-width: 0 !important; }

.noBorderTop {
  border-top-width: 0 !important; }

.noBorderRight {
  border-right-width: 0 !important; }

.noBorderBottom {
  border-bottom-width: 0 !important; }

.noBorderLeft {
  border-left-width: 0 !important; }

.noMarginTop {
  margin-top: 0 !important; }

.noMarginRight {
  margin-right: 0 !important; }

.noMarginBottom {
  margin-bottom: 0 !important; }

.noMarginLeft {
  margin-left: 0 !important; }

.fixed {
  position: fixed !important; }

.invisible {
  visibility: hidden !important; }

.rule {
  border-bottom-color: #DDDDDD;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  clear: both;
  height: 0;
  margin: 15px 0px;
  overflow: hidden; }

/* Dubugging only*/
.showgrid {
  background: url(images/grid.png); }

/* Type Must have vericle padding relative to size to preserve basline grid, horizontal padding is fixed at 1x */
.smallType {
  font-size: 11px;
  padding-top: 4px;
  padding-bottom: 11px;
  padding-left: 15px;
  color: #111; }

.mediumType {
  font-size: 13px;
  padding-top: 2px;
  padding-bottom: 13px;
  padding-left: 15px;
  color: #111; }

.bigType {
  font-family: Georgia;
  font-size: 25px;
  padding-top: 5px;
  padding-bottom: 25px;
  word-spacing: -0.1em;
  line-height: 30px;
  padding-left: 15px;
  color: #111; }

ul {
  list-style-position: inside;
  list-style-type: none; }

/* Some elements add extra space whatever you do */
