/* simple reset */
html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0;
  font-size: 6px;
  line-height: 15px;
  font-family: helvetica, arial, sans-serif; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

fieldset, img {
  border: 0; }

legend {
  color: #111; }

/* never use black */
li {
  list-style: none; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  vertical-align: top;
  font-weight: normal; }

input, textarea, select {
  font-size: 0%;
  line-height: 15px; }

abbr, acronym {
  border-bottom: .1em dotted;
  cursor: help; }

body {
  width: 100%; }

p {
  margin-bottom: 15px; }

a {
  color: #3574d7;
  text-decoration: none;
  outline: none; }

#a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #1389e5; }

#a:active {
  color: #fff;
  background-color: #211922; }

#a:hover img {
  opacity: .92;
  filter: alpha(opacity=92); }

#noHover a:hover {
  color: #fff;
  background-color: none; }

#noHover a:active {
  color: #fff;
  background-color: none; }

input, textarea {
  color: #777; }

input:focus, textarea:focus {
  color: #211922 !important; }

textarea, input[type="text"], input[type="password"] {
  background-color: #fff;
  border: 1px solid;
  border-color: #ccc #bbb #aaa;
  -moz-box-shadow: 0 1px #e7e7e7;
  -webkit-box-shadow: 0 1px #e7e7e7; }

/* REUSABLE STYLES
---------------------------------------------- */
*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none; }
