/*
	simple reset

	RULES
	-----

	ALL Selectors must have easy searchable names. No 'left' or 'fixed' or 'small'

*/
/* line 14, sass/simple_reset.scss */
html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', helvetica, arial, sans-serif;
}

/* line 22, sass/simple_reset.scss */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* line 23, sass/simple_reset.scss */
fieldset, img {
  border: 0;
}

/* line 24, sass/simple_reset.scss */
legend {
  color: #111;
}

/* never use black */
/* line 25, sass/simple_reset.scss */
li {
  list-style: none;
}

/* line 26, sass/simple_reset.scss */
sup {
  vertical-align: text-top;
}

/* line 27, sass/simple_reset.scss */
sub {
  vertical-align: text-bottom;
}

/* line 28, sass/simple_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 33, sass/simple_reset.scss */
caption, th, td {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}

/* line 44, sass/simple_reset.scss */
abbr, acronym {
  border-bottom: .1em dotted;
  cursor: help;
}

/* line 50, sass/simple_reset.scss */
p {
  margin-bottom: 15px;
}

/* line 52, sass/simple_reset.scss */
a {
  color: #3574d7;
  text-decoration: none;
  outline: none;
}

/* line 58, sass/simple_reset.scss */
input, textarea {
  color: #777;
}

/* line 59, sass/simple_reset.scss */
input:focus, textarea:focus {
  color: #211922 !important;
}

/* line 60, sass/simple_reset.scss */
textarea, input[type="text"], input[type="password"] {
  background-color: #fff;
  border: 1px solid;
  border-color: #ccc #bbb #aaa;
  -moz-box-shadow: 0px 0px 5px #e7e7e7 0 1px;
  -webkit-box-shadow: 0px 0px 5px #e7e7e7 0 1px;
  -o-box-shadow: 0px 0px 5px #e7e7e7 0 1px;
  box-shadow: 0px 0px 5px #e7e7e7 0 1px;
}

/* DONT USE! REUSABLE STYLES
---------------------------------------------- */
/* line 104, sass/simple_reset.scss */
.floatLeft_relative {
  float: left;
  position: relative;
}

/* line 105, sass/simple_reset.scss */
.floatRight_relative {
  float: right;
  position: relative;
}

/* line 106, sass/simple_reset.scss */
.hidden2 {
  position: absolute;
  top: 0;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* line 107, sass/simple_reset.scss */
.highlighted {
  color: #211922;
  background-color: #ff0 !important;
}

/* line 108, sass/simple_reset.scss */
.clear {
  clear: both !important;
}

/* line 110, sass/simple_reset.scss */
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
