/*
 * Type
 *
 * The Rules
 * -------------------------
 * 8, 13, 21
 * NO! measurments in CSS. NO! 12px. NO! 2em. NO! 25%
*/
/* VERY SMALL */
.serifVSmall {
  font: normal normal 11px/15px Georgia;
  text-decoration: none;
  padding-top: 4px;
  padding-bottom: 11px;
  letter-spacing: 0.06pc; }

.sansVSmallBold {
  font: normal bold 9px/15px Helvetica;
  text-decoration: none;
  padding-top: 4px;
  padding-bottom: 11px;
  letter-spacing: 0.06pc; }

/* SET SOLID */
.serifSolid {
  font: normal normal 13px/15px Georgia;
  text-decoration: none;
  padding-top: 2px;
  padding-bottom: 13px;
  word-spacing: -0.1pc; }

.sansSolid {
  font: normal normal 13px/15px Helvetica;
  text-decoration: none;
  padding-top: 2px;
  padding-bottom: 13px;
  word-spacing: -0.1pc; }

.sansSolidBold {
  font: normal bold 13px/15px Helvetica;
  text-decoration: none;
  padding-top: 2px;
  padding-bottom: 13px;
  word-spacing: -0.1pc; }

/* BIG */
.serifBig {
  font: normal normal 21px/30px Georgia;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 7px;
  letter-spacing: -0.05pc;
  word-spacing: -0.1pc; }

.sansBigBold {
  font: normal bold 21px/30px Helvetica;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 7px;
  letter-spacing: -0.06pc;
  word-spacing: -0.13pc; }

/* VERY BIG */
.serifVBig {
  font: normal normal 28px/30px Georgia;
  text-decoration: none;
  padding-top: 4px;
  padding-bottom: 26px;
  letter-spacing: -0.07pc;
  word-spacing: -0.1pc; }

.sansVBigBold {
  font: normal bold 28px/30px Helvetica;
  text-decoration: none;
  padding-top: 4px;
  padding-bottom: 26px;
  letter-spacing: -0.07pc;
  word-spacing: -0.1pc; }

/* Type Must have vericle padding relative to size to preserve basline grid, horizontal padding is fixed at 1x */
.smallType {
  font-size: 11px;
  padding-top: 4px;
  padding-bottom: 11px;
  padding-left: 0;
  color: #111; }

.mediumType {
  font-size: 13px;
  padding-top: 2px;
  padding-bottom: 13px;
  padding-left: 0;
  color: #111; }

.bigType {
  font-family: Georgia;
  font-size: 25px;
  padding-top: 5px;
  padding-bottom: 25px;
  word-spacing: -0.1em;
  line-height: 30px;
  padding-left: 0;
  color: #111; }

.smallListType {
  font: bold 11px/15px Georgia;
  padding-top: 4px;
  padding-bottom: 11px;
  margin-bottom: -15px; }
