- push( hoo5_col_view )

%div( style="clear:left;float:left;width:100%; overflow:hidden; background:#eee;" )
	%div( style="clear:left;float:left;width:100%;position:relative;right:20%;background:#b2f0f9;" )
		%div( style="clear:left;float:left;width:100%;position:relative;right:20%;background:#89ffa2;" )
			%div( style="clear:left;float:left;width:100%;position:relative;right:20%;background:#ffa7a7;" )
				%div( style="float:left;width:100%;position:relative;right:20%;background:#fff689;" )
					%div( style="float:left;width:16%;position:relative;left:82%;overflow:hidden;" )
						1
					%div( style="float:left;width:16%;position:relative;left:86%; overflow:hidden;" )
						2
					%div( style="float:left;width:16%;position:relative;left:90%;overflow:hidden;" )
						3
					%div( style="float:left;width:16%;position:relative;left:94%;overflow:hidden;" )
						4
					%div( style="float:left;width:16%;position:relative;left:98%;overflow:hidden;" )
						5
