- push( hoo4_col_view )

%div( style="clear:left; float:left; width:100%; overflow:hidden; background:#b2f0f9;" )
	%div( style="clear:left; float:left; width:100%; position:relative; right:25%; background:#89ffa2;" )
		%div( style="clear:left; float:left; width:100%; position:relative; right:25%; background:#ffa7a7;" )
			%div( style="float:left; width:100%; position:relative; right:25%; background:#fff689;" )
				%div( style="float:left; width:21%; position:relative; left:77%; overflow:hidden;" )
					1
				%div( style="float:left; width:21%; position:relative; left:81%; overflow:hidden;" )
					2
				%div( style="float:left; width:21%; position:relative; left:85%; overflow:hidden;" )
					3
				%div( style="float:left; width:21%; position:relative; left:89%; overflow:hidden;" )
					4
