- push( hoo4_col_view )

-# http://0.0.0.0:3000/widgets/4col

%div( style="clear:left; float:left; width:100%; overflow:hidden;" )
	%div( style="clear:left; float:left; width:100%; position:relative; right:25%;" )
		%div( style="clear:left; float:left; width:100%; position:relative; right:25%;" )
			%div( style="float:left; width:100%; position:relative; right:25%;" )
				%div( style="float:left; width:25%; position:relative; left:75%; overflow:hidden;" )
					%div( style="padding: 0 7px 0 0;" )
						=  insert( _.views[0], "" )

				%div( style="float:left; width:25%; position:relative; left:75%; overflow:hidden;" )
					%div( style="padding: 0 7px 0 8px;" )
						=  insert( _.views[1], "" )

				%div( style="float:left; width:25%; position:relative; left:75%; overflow:hidden;" )
					%div( style="padding: 0 7px 0 8px;" )
						=  insert( _.views[2], "" )

				%div( style="float:left; width:25%; position:relative; left:75%; overflow:hidden;" )
					%div( style="padding: 0 0 0 8px;" )
						=  insert( _.views[3], "" )
