- push( hoo3_col_percent_padded_view )

%div( style="clear:left;float:left;width:100%;overflow:hidden;" )
	%div( style="clear:left;float:left;width:100%;position:relative;right:33.333%;" )
		%div( style="float:left;width:100%;position:relative;right:33.33%;" )
			%div( style="float:left;width:29.33%;position:relative;left:68.67%;overflow:hidden;" )
				=  insert( _.views[0], "" )

			%div( style="float:left;width:29.33%;position:relative;left:72.67%;overflow:hidden;" )
				=  insert( _.views[1], "" )

			%div( style="float:left;width:29.33%;position:relative;left:76.67%;overflow:hidden;" )
				=  insert( _.views[2], "" )

