- push( hoo3_col_view )

%div( style="clear:left;float:left;width:100%;overflow:hidden;" )
	%div( style="clear:left;float:left;width:100%;position:relative;right:33.333%;" )
		%div( style="float:left;width:100%;position:relative;right:33.33%;" )
			%div( style="float:left;width:33.333%;position:relative;left:66.666%;overflow:hidden;" )
				%div( style="padding: 0 7px 0 0;" )
					=  insert( _.views[0], "" )

			%div( style="float:left;width:33.333%;position:relative;left:66.666%;overflow:hidden;" )
				%div( style="padding: 0 7px 0 8px;" )
					=  insert( _.views[1], "" )

			%div( style="float:left;width:33.333%;position:relative;left:66.666%;overflow:hidden;" )
				%div( style="padding: 0 0 0 8px;" )
					=  insert( _.views[2], "" )

