- push( hoo3_col_view )

%div( style="clear:left;float:left;width:100%;overflow:hidden;background:#89ffa2;" )
	%div( style="clear:left;float:left;width:100%;position:relative;right:33.333%;background:#ffa7a7;" )
		%div( style="float:left;width:100%;position:relative;right:33.33%;background:#fff689;" )
			%div( style="float:left;width:29.33%;position:relative;left:68.67%;overflow:hidden;" )
				steve
			%div( style="float:left;width:29.33%;position:relative;left:72.67%;overflow:hidden;" )
				steve
			%div( style="float:left;width:29.33%;position:relative;left:76.67%;overflow:hidden;" )
				steve

