-# push( hoo4_col_percent_padded_view )

-# http://0.0.0.0:3000/widgets/4col_percent_padded

%div( style="clear:left; float:left; width:100%; overflow:hidden;" )
	%div( style="clear:left; float:left; width:100%; position:relative; right:25%;" )
		%div( style="clear:left; float:left; width:100%; position:relative; right:25%;" )
			%div( style="float:left; width:100%; position:relative; right:25%;" )
				%div( style="float:left; width:21%; position:relative; left:77%; overflow:hidden; background-color:red" )
					=  insert( _.views[0], "" )

				%div( style="float:left; width:21%; position:relative; left:81%; overflow:hidden; background-color:green" )
					=  insert( _.views[1], "" )

				%div( style="float:left; width:21%; position:relative; left:85%; overflow:hidden;" )
					=  insert( _.views[2], "" )

				%div( style="float:left; width:21%; position:relative; left:89%; overflow:hidden;" )
					=  insert( _.views[3], "" )
