-# http://0.0.0.0:3000/widgets/cellRenderer?cellName=actionButton1

%div( style='font: normal 25px/30px Helvetica; background-color: red; width:45px; height:45px; border: 0px solid black; padding:0; margin:0; overflow:hidden;' )
