-# NB the overflow:auto is needed to stop the margins collapsing
-# This tells you everything you need to know about CSS separating form and content
yaeaah boooy
%div{ :style=>"border: 0px solid red; overflow: auto" }
    %img( src='#{hoo_user_comment_cell[_.imgPath]}' width='43' height='43' style='float: left; margin:0 5px 10px 0; border:1px solid lightgray' )
    %div( style="" )
        %div.smallType{ :style=>"position: relative; top: -3px; font: normal bold 11px/15px Helvetica; color: #3574d7; margin:0 0 -15px 0; overflow:auto;" } #{hoo_user_comment_cell[_.heading]}
        %div.mediumType{ :style=>"float: none; width: auto; font: normal 13px/15px Helvetica; color: #2d3747; margin-top: 0px; overflow:hidden;" } #{hoo_user_comment_cell[_.subHeading]}

