-# NB the overflow:auto is needed to stop the margins collapsing
-# This tells you everything you need to know about CSS separating form and content
%div{ :style=>"" }
    %img( src='#{hoo_sparse_boo_cell[_.imgPath]}' width='43' height='43' style='float: left; border:1px solid lightgray' )
    %div( style="float: left" )
        %div.bigType{ :style=>"overflow:auto;" } #{hoo_sparse_boo_cell[_.heading]}
        %div.mediumType{ :style=>"overflow:auto;" } #{hoo_sparse_boo_cell[_.subHeading]}
