%ul
	%li.mediumType= link_to 'javascript tests', pages_javascript_unit_tests_path
	%li.mediumType= link_to 'widgets', pages_widgets_path
	%li.mediumType= link_to 'single widget', pages_single_widget_path
	%li.mediumType= link_to 'sample page', pages_sample_page_path

