- push( hoo_simple_text_field )

-# http://0.0.0.0:3000/widgets/simpleTextField

%div[_]{ :data=>{'jsclass'=>'HooSimpleTextField', 'autoplay'=>'false', 'preload'=>'true'}, :style=>"font-size: 12px; color: #555;" }
	#{_.fullString}

- if( _.includeOnce? )
	:javascript

		/*
		 *
		*/
		ABoo.HooSimpleTextField = ABoo.HooWidget.extend({

			_observablePlayer: undefined,

			init: function( /* init never has args */ ) {
				arguments.callee.base.apply(this,arguments);
			},

			setupDidComplete: function() {

				var hasBinding = this.setup_hoo_binding_from_json( 'textBinding' );
			},

			// Binding updated
			_textDidChange: function( target, property ) {

				debugger; //TODO: swap this this.div$
				var wrapperQuery = "#"+this.id;
				var $wrapper = $( wrapperQuery );
				if( $wrapper.length!=1 ) debugger;
				var newVal = target.get(property);
				$wrapper.text( this.json.prefix+newVal+this.json.postfix );
			}
		});
