-# View should be logicless
-# No Dimensions in CSS
-# If you don't have Javascript you dont need rollovers
-# Javascript-less site should be minimal and semantic

-# http://0.0.0.0:3000/widgets/simpleCheckbox?initialState=1

- push( hoo_simple_checkbox )

%div[_]( data-jsclass='HooSimpleCheckbox' style="" )
	= form_tag( '', :method=>:post, :remote=>true ) do
		%span.sansSolidBold #{_.label}
		%input( type="checkbox" name="c1" )



- if( _.includeOnce? )
	:javascript

		HooSimpleCheckbox = HooWidget.extend({

			_mouseClickAction:	undefined,
			_checkbox:			undefined,

			init: function( /* init never has args */ ) {
				arguments.callee.base.apply(this,arguments);

				this._checkbox = $( "#"+this.id+" form input:checkbox:first" );
			},

			setupDidComplete: function() {

				var self = this;

				// set up actions as configured in the json - mixin?
				this._mouseClickAction = this.setup_hoo_action( 'mouseClickAction' );
				if(this._mouseClickAction) {
					this._checkbox.change(function(e) {
						self._mouseClickAction.a.call( self._mouseClickAction.t, self._mouseClickAction.w );
					});
				}
			}
		});
