-# http://0.0.0.0:3000/widgets/HooCanvas

// Add Sprites to the canvas
%div[_]{ :data=> {'jsclass'=>'ABoo.HooCanvas'}, :style=>"width:100%; height:100%;"}
	%canvas( width="1" height="1" )
	= insert( _.views, "" )
