- push( canvas_img_resize_test )

-# http://0.0.0.0:3000/widgets/canvasimgresizetest

- wrapLiveObject( _, :style=>'' ) do
	%canvas( width="100%" height="100%")

- if( _.includeOnce? )
	:javascript

		ABoo.GUI_Views_Debug_CanvasImgResizeTest = ABoo.HooWidget.extend({
			setupDidComplete: function() {

				var b_canvas = document.getElementById("b");
				var b_context = b_canvas.getContext("2d");
				b_context.fillRect(50, 25, 150, 100);

			}
		});

