- push( flash_shared_element )

-# http://0.0.0.0:3000/widgets/flashsharedelementtest

- wrapLiveObject( _, :style=>'border:1px solid black; margin:3px; background-color: white;', :class=>'sc-view' ) do
	%div
		steve
	= image_tag("rails.png", :options=>{:align=>"right", :style=>"padding-right: 10px; padding-top: 5px;"} )
	%div
		kitty cat

- if( _.includeOnce? )
	:javascript

		ABoo.SCView = SC.View.extend( ABoo.RootObject, {

			setupDidComplete: function() {
				this.createElement_hack();
			},
			createElement_hack: function() {
				this.set( 'element', this.div$.html() );
				this._notifyDidCreateElement();
				return this;
			}
		});

		ABoo.GUI_Views_Debug_FlashSharedElement = ABoo.SCView.extend({

			//init: function( /* init never has args */ ) {
			//	this._super();
			//},

			// setupDidComplete: function() {
			//	this._super();
			//},

			//parentDidResize: function() {
			//},

			//mouseDown: function(ev$) {
			//},
			mouseUp: function(ev$) {

				var img = this.getFirstDomItemOfType("img");
				if(img) {
					var flashURL = ABoo.SharedFlashObject.uRLForSwf( "ImgResizer/ImgResizer" );
					var flashOb = ABoo.SharedFlashObject.sharedSwfForURL( flashURL, "100%", "100%", {imgURL:"http://farm2.static.flickr.com/1013/887300612_044d2e38ed.jpg"} );
					flashOb.swapInForItem(img);
				}
			}



		});
