-# push( flippy_toggle_thing )

-# http://javascriptstuff.dev/
-# http://0.0.0.0:3000/widgets/FlippyToggleThing

- wrapLiveObject( _, :style=>'lick it' ) do
	%div( style="font-size:15px; display:block; width:250px; height:250px; background-color: rgba(255,0,0,0.5);" )
		hi! im a flippy thing for debugging purposes!
