- push( flippy_toggle_thing )

%div[_]( data-jsclass='Flippy_toggle_thing' style="font-size:15px; display:block; width:250px; height:250px; background-color: red;" )
	hi! im a flippy thing for debugging purposes!
