- push( mock_player )

-# http://0.0.0.0:3000/widgets/mockPlayer
%div[_]( data-jsclass='ABoo.Mock_Player' style="font-size: 9px; background-color: red; margin: 1em;" )
	%span(style="margin-left: 1em;") Not ready

-# Obviously we cannot leave this here as it is crazy to include it more than once
- if( _.includeOnce? )
	:javascript

		// Obviously, we only do this if there is a bloomin canvas in the first place. Oh, hello ie
		ABoo.Mock_Player = HooWidget.extend({

			_ready:		false,
			_duration:	0,
			_loadedValue: 0,
			_playedValue: 0,
			textHolder: "span",

			init: function( /* init never has args */ ) {
	   			this._super();
					var self = this;
					setTimeout( function(){
						self.set('_ready', true );
						self.setContentText("I am now officially ready!");

						self.startLoading();
					}, 1000);
				//}
			},

			startLoading: function() {

				this.set('_duration', 120 );

				var self = this;
				var xx = setInterval( function() {
					self.set('_loadedValue', self._loadedValue+0.1 );
					if(self._loadedValue>self._duration){
						clearInterval(xx);
					}
				},1000.0/25.0);

				setTimeout( function() {
					self.startPlaying();
				},1000.0);
			},

			startPlaying: function() {

				var self = this;

				// TODO: replace with ShiteDisplayLink
				var xx = setInterval( function() {
					self.set('_playedValue', self._playedValue+.1 );
					if(self._playedValue>self._duration){
						clearInterval(xx);
					}
				},1000.0/25.0);
			},

			setContentText:  function( arg ) {
				var $span = this.getFirstDomItemOfType("span");
				$span.text( arg );
			},

			setProgressPercent: function( arg ) {
				this.set('_playedValue', this._duration * arg );
			}
		});

