-# push( sc_textfield )

-# http://0.0.0.0:3000/widgets/sc_textfield
%div( style='font: normal 25px/30px Helvetica; background-color: red;' )
	nananananan nananananan nananananan nananananan nananananan nananananan

	%script( type="text/html" )
		{{view ABoo.HooSCLargeTextField id="new-todo" placeholder="What needs to be done?" tagName="span"}}

