-# push( sc_button )
-# http://0.0.0.0:3000/widgets/sc_button

%div( style='font: normal 25px/30px Helvetica; background-color: red; ' )
	nananananan nananananan nananananan nananananan nananananan nananananan

	%script( type="text/html" )
		{{#view ABoo.HooSCLargeButton classBinding="isActive" target="Todos.todosController" action="clearCompletedTodos"}} Clear Completed Todos {{/view}}
