- push( textfield )

%div( style='font: normal 25px/30px Helvetica; background-color: red; ' )
	nananananan nananananan nananananan nananananan nananananan nananananan

	%script( type="text/html" )
		{{view SC.TextField id="new-todo" placeholder="What needs to be done?"}}

