- push( hoo_spaced_vertical_list )

-# http://0.0.0.0:3000/widgets/spacedVerticalList
- _.views.each_with_index do |view, index|
    = insert( view, "" )
    %div
        - if index < (_.views.count-1)
            %div( style="display: inline-block; width: 100%; height: 15px;")

