-# http://0.0.0.0:3000/widgets/HooHtml5DetailPlayer
-# http://shooley.audioboo.fm:3000/widgets/HooHtml5DetailPlayer

%div[_]
	= insert( _.views, nil )

	-# Is this all wrong? It depends what we want to happen when Javascript is disabled?
	-# If we want to show something nice we should put that in haml and the player in javascript only

	-# Another option is just to set the visibilty of stuff with javascript
	-# The play pause button is already invisible if you dont have js enabled
