- push( hoo_pull_quote_one_view )

%div{ :style=>"margin:10px 20px 10px 10px; padding:20px 0px; background-color:#eee" }
	%div{ :style=>"background:url(/images/quote_open.gif) no-repeat 0 0; margin-left:15px;" }
		%div{ :style=>"background:url(/images/quote_close.gif) no-repeat 100% 100%; margin:15px;" }
			%div{ :style=>"padding:30px;" }
				.bigType #{_.text}
	%div{ :style=>"clear:both;" }
