- push( hoo_info_one )

%div{ :style=>"" }
	%a{:href => "www.mysite.com"}
		%img{ :src=>"/images/my_pic.png", :alt=>"My Pic", :width=>"105", :height=>"105", :style=>"float:left;"}
	.smallType Steven Hooley
	.mediumType Type hey now now now
	%div{ :style=>"clear:both;" }
