- push( hoo_single_widget_view )

%div{ :style=>"overflow:auto"}
	%img{ :src=>"/images/my_pic.png", :alt=>"My Pic", :width=>"30", :height=>"30" }

%div{ :style=>"overflow:auto"}
	%img{ :src=>"/images/my_pic.png", :alt=>"My Pic", :width=>"30", :height=>"30" }

%div{ :style=>"overflow:auto"}
	%img{ :src=>"/images/my_pic.png", :alt=>"My Pic", :width=>"30", :height=>"30" }

%div{ :style=>"overflow:auto"}
	%img{ :src=>"/images/my_pic.png", :alt=>"My Pic", :width=>"30", :height=>"30" }

%div{ :style=>"overflow:auto"}
	%img{ :src=>"/images/my_pic.png", :alt=>"My Pic", :width=>"30", :height=>"30" }

%div{ :style=>"overflow:auto"}
	%img{ :src=>"/images/my_pic.png", :alt=>"My Pic", :width=>"30", :height=>"30" }

%div{ :style=>"overflow:auto"}
	%img{ :src=>"/images/my_pic.png", :alt=>"My Pic", :width=>"30", :height=>"30" }

= insert( _.textList, "couldn't find textList view" )

/ The main content div
= insert( _.widgetResizer, "couldn't find widgetResizer view" )
