%div{:style=>"width:#{hoo_blue_view.width}px; height:#{hoo_blue_view.height}px; background-color:#0000ff;"}
	= render hoo_blue_view.views
	/ Ideally i would like this path = render '../../lib/gui/views/partial'

