- push( hoo_blue_view )

%div{ :style=>"width:#{@_.width}px; height:#{@_.height}px; background-color:#0000ff;" }
	= insert( _.views )
	/ Ideally i would like this path = render '../../lib/gui/views/partial'

