- push( hoo_single_widget_view )


/ I forgot and thought i had to do this

/= insert( _.textList, "couldn't find textList view" )
/ The main content div
/= insert( _.widgetResizer, "couldn't find widgetResizer view" )

/ but really…

/ i really don't need this class!
= insert( _.views, "" )
