-# http://0.0.0.0:3000/widgets/playPauseButton
-# http://0.0.0.0:3000/widgets/playPauseButton?initialState=1

- push( hoo_play_pause_button )

-# If no javascript, what would you expect? A link that sayts play
%div[_]{ :data=> {'jsclass'=>'HooPlayPauseButton'}, :style=> "width:200px; height:200px;"}
	= link_to "play mp3", "#{_.action}", {'data-jshide'=>'true'}
	= insert( _.views, "" )

- if( _.includeOnce? )
	:javascript

		// When we need some different kinds of graphics start chopping up this heirarchy
		HooPlayPauseButtonGraphic = HooAbstractButtonGraphic.extend({

			_parentCanvas: undefined,
			_playButtonSprite: undefined,
			_pauseButtonSprite: undefined,
			_currentSpriteState: undefined,
			_currentSprite: undefined,

			_threeStateButtonStateMachine_config: {

				"disabled": {
					"movieclip": "_playButtonSprite",
					"properties": { _isDisabled: true, _isDown: false }
				},
				"play": {
					"movieclip": "_playButtonSprite",
					"properties": { _isDisabled: false, _isDown: false }
				},
				"play_down": {
					"movieclip": "_playButtonSprite",
					"properties": { _isDisabled: false, _isDown: true }
				},
				"pause": {
					"movieclip": "_pauseButtonSprite",
					"properties": { _isDown: false }
				},
				"pause_down": {
					"movieclip": "_pauseButtonSprite",
					"properties": { _isDown: true }
				}
			},

			init: function( /* init never has args */ ) {

				arguments.callee.base.apply(this,arguments);
				this._playButtonSprite = PlayButtonSprite.create();
				this._pauseButtonSprite = PauseButtonSprite.create();
			},

			getClickableItem: function() {
				HOO_nameSpace.assert( this._parentCanvas, "this button must be added to a canvas to work" );
				return this._parentCanvas._$canvas;
			},

			setSize: function( width, height ) {
				this._parentCanvas.setSize(width,height);
			},

			drawInRect: function() {
				this.drawNow( this._parentCanvas.ctx(), this._parentCanvas.width(), this._parentCanvas.height() );
			},

			drawNow: function( ctx, width, height ) {
				if(!this._currentSprite)
					return;
				ctx.save();
					ctx.setTransform(1, 0, 0, 1, 0, 0);
					ctx.clearRect(0,0,width,height);
					ctx.globalAlpha = 1.0;
					ctx.globalCompositeOperation = 'source-over';

					//ctx.fillStyle = "rgba(100,100,100,1)";
					//ctx.fillRect(0,0,width,height);

					this._currentSprite.draw( ctx, width, height );

				ctx.restore();
			},

			showDisabledButton: function() {
				this.transitionToSpriteState("disabled");
			},
			showMouseUp1State: function() {
				this.transitionToSpriteState("play");
			},
			showMouseDown1State: function() {
				this.transitionToSpriteState("play_down");
			},
			showMouseUp2State: function() {
				this.transitionToSpriteState("pause");
			},
			showMouseDown2State: function() {
				this.transitionToSpriteState("pause_down");
			},

			transitionToSpriteState: function( state ) {

				if(state!=this._currentSpriteState) {
					var stateDict = this._threeStateButtonStateMachine_config[state];
					var shouldBeVisibleSpriteName = stateDict["movieclip"];
					this._currentSprite = this.get(shouldBeVisibleSpriteName);

					// make the current Sprite have the correct properties
					var shouldBePropertyValuesDict = stateDict["properties"];
					this._currentSprite.setPropertiesOfSprite( shouldBePropertyValuesDict );

					this._currentSpriteState = state;
					if(this._parentCanvas)
						this._parentCanvas.setNeedsDisplay();
				}
			},



			getOuterWidth: function() {
				debugger;
				return undefined;
			},
			setOuterWidth: function( arg ) {
				debugger;
				return undefined;
			},
			getTextContent: function() {
				debugger;
				return undefined;
			},
			getHref: function() {
				debugger;
				return undefined;
			},
			setBackgroundAndTextState: function( state ) {
				debugger;
				return undefined;
			},
			setContentText:  function( arg ) {
				debugger;
				return undefined;
			},
			positionBackground:function( state ) {
				debugger;
				return undefined;
			}
		});

		HooPlayPauseButton = HooFormButtonToggle.extend({

			_$parentDiv: undefined,
			_started: false,
			_hooCanvas: undefined,

			init: function( /* init never has args */ ) {
				arguments.callee.base.apply(this,arguments);
				this._$parentDiv = $( "#"+this.id );
			},

			_createGraphic: function() {
				this._buttonGraphic = HooPlayPauseButtonGraphic.create( { _rootItemId:this.id });
			},

			setupDidComplete: function() {

				// this is a bit fucked because canvas becomes graphics clickable item
				HOO_nameSpace.assert( this._hooCanvas, "this button must be added to a canvas to work" );
				this._hooCanvas.addSubview( this._buttonGraphic );

				arguments.callee.base.apply(this,arguments);

				var self = this;
				setTimeout( function(){
					self.resizeAll();
				}, 100 );


				// this._started = true;
				//ShiteDisplayLink.sharedDisplayLink.registerListener(this);
			},

			// TODO! ok, i dont know which way round sizing should work - resize the canvas or the player? Or both?
			resizeAll: function() {

				var newWidth = this._$parentDiv.width();
				var newHeight = this._$parentDiv.outerHeight();
				this._buttonGraphic.setSize( newWidth, newHeight );
			}
		});
