-# http://0.0.0.0:3000/widgets/HooSmallPlayerPlayButton

-# push( hoo_small_player_play_button )

%div[_]( data-jsclass='ABoo.SmallPlayerPlayButton' style="overflow:visible;" )
	=  insert( _.views, "" )
