-# View should be logicless
-# No Dimensions in CSS
-# If you don't have Javascript you dont need rollovers
-# Javascript-less site should be minimal and semantic

-# http://0.0.0.0:3000/widgets/HooSimpleSlider?initialState=1

- push( hoo_simple_slider )

-# adding the data-jsclass attribute means that a javascript instance will be created on-load
-# Todo: I also need to have it created if it is inserted by ajax!
%div[_]( data-jsclass='ABoo.HooSimpleSlider' style="position:relative; height: 15px; background:transparent url(../images/player/timeline_background.png) no-repeat left top;" )

	%div.slider
		.slidingDoor_left( style="display:block; height: 15px; overflow: hidden;" )
			.slidingDoor_right( style="display:inline-block; float: right; background:transparent url(../images/player/timeline_background.png) no-repeat right bottom; green; width: 15px; height: 15px; overflow: hidden;" )

		%div.loadProgress( style="width:180px; height: 11px; background-color:#ededed; position: absolute; top: 0; margin: 2px; opacity:0.5;" )
		%div.playProgress( style="width:180px; height: 11px; background-color:#ff005b; position: absolute; top: 0; margin: 2px;" )
		%canvas( width="100" height="12" style="position:absolute; top:0; margin:2px;" )

	-#.nubbin( style="width:20px; height:20px; background-color:#00ff00;" )

	=  insert( _.views, "" )

- if( _.includeOnce? )
	:javascript

		ABoo.BusyFadeHelper = SC.Object.extend({

			_busyAlpha:			0,
			_busyFadeDirection:	false,
			_showBusy: 			false,
			_intervalId:		undefined,
			_animFunction:		undefined,

			begin: function( fps ) {
				this._showBusy = true;
				this._busyFadeDirection = true;

				// TODO: replace with ShiteDisplayLink
				this._intervalId = setInterval( this._animFunction , fps );
			},

			step: function() {

				if( this._busyFadeDirection===true && this._busyAlpha<10 ) {
					this._busyAlpha = this._busyAlpha+1;
				} else if( this._busyFadeDirection===false ) {
					this._busyAlpha = this._busyAlpha-1;
					if(this._busyAlpha==0) {
						this.onFadeOutComplete();
						this._busyAlpha = 0;
					}
				}
			},

			end: function() {
				this._busyFadeDirection = false;
			},

			onFadeOutComplete: function() {
				this._showBusy = false;
				clearInterval(this._busyIntervalId);
			}
		});


		// !! Should this have a canvas or not? i can not decide.
		// !! it's different as it uses the divs infront of the canvas to draw the progress


		/*
		 * This canvas stuff was out of place in slider - temporarily moved here!
		*/
		ABoo.ProgressBusybacking = SC.Object.extend({

			draw: function( ctx, width, height ) {
				ctx.save();
				ctx.setTransform(1, 0, 0, 1, 0, 0);
				ctx.clearRect(0,0,width,height);
				ctx.globalAlpha = 1.0;
				ctx.globalCompositeOperation = 'source-over';

				// draw the background
				//ctx.fillStyle = "rgba(100,100,100,1)";
				//ctx.fillRect(0,0,width,height);

				// draw the slanty rects
				if( this._busyFadeHelper._showBusy===true ) {

					ctx.save();

		        ctx.beginPath();
				ctx.rect(0, 0, width-4, height);
				ctx.closePath();
				ctx.clip();

					this._busyFadeHelper.step();

					var busyAlpha = 0.4 * this._busyFadeHelper._busyAlpha/10.0;
					ctx.fillStyle = "rgba(170,160,160,"+busyAlpha+")";

					var percent = this._currentTime/1000;
					var barWidth = 5;
					var barSpace = 10;
					var numberOfBars = width/barSpace;

					var maxOffset = 10;
					var xDisplacement = maxOffset*percent;

					var x = -barWidth;
					for( var i=0; i<numberOfBars; i++ ) {

						// offset each slanty rect
						// the transform seems to mess up the clip rect th ctx.setTransform(1, 0, 0, 1, x, 0);
						ctx.beginPath();

						// draw a slanty recty
						ctx.moveTo( x+ xDisplacement, 0 );
						ctx.lineTo( x+ xDisplacement+barWidth, 0 );
						ctx.lineTo( x+ xDisplacement+barWidth-barWidth, height-4 );
						ctx.lineTo( x+ xDisplacement-barWidth, height-4 );
						ctx.closePath();
						ctx.fill();
						x = x+barSpace;
					}

					ctx.restore();
				}

				// draw a grad over the top
				ctx.setTransform(1, 0, 0, 1, 0, 0);
		        ctx.beginPath();
				ctx.rect(0, 0, width, height);

				ctx.globalCompositeOperation = 'lighter';
				gradient = ctx.createLinearGradient(0, height, 0, 0);
				gradient.addColorStop(1.0, "rgba(235, 235, 235, 0.3)");
				gradient.addColorStop(0, "rgba(0, 0, 0, 0.1)");
				ctx.fillStyle = gradient;
				//ctx.fill();

				ctx.restore();
			},
		});


		/*
		 *
		*/
		ABoo.HooSimpleSliderGraphic = ABoo.HooButtonGraphic.extend({

			showDisabledButton: function() {
				//alert("one");
		    },
			showMouseUp1State: function() {
				//alert("two");
			},
			showMouseDown1State: function() {
				//alert("threes");
			}

		});

		/*
		 *
		*/
		ABoo.HooSimpleSlider = ABoo.HooFormButtonSimple.extend({


			_loadProgressDiv:	undefined,
			_playProgressDiv:	undefined,
			_started:			false,
			_timeStep:			undefined,
			_currentTime:		undefined,
			_loadedAmount:		0,
			_playedAmount:		0,
			_maxAmount:			0,
			_maxBarWidth:		0,
			_currentWidth:		0,
			_currentWHeight:	0,

			//mwah _busyFadeHelper:	undefined,
			//mwah _stateMachine: 		undefined,
			//mwah _hooCanvas: undefined,

			init: function( /* init never has args */ ) {
				this._super();
				this._loadProgressDiv = this.getFirstDomItemOfType(".loadProgress");
				this._playProgressDiv = this.getFirstDomItemOfType(".playProgress");

				//mwah this._loadedAmount = 0;
				//mwah this._playedAmount = 0;
				//mwah this._timeStep = 1000/15;
				//mwah this._currentTime = 0;

				//mwah this._stateMachine = ABoo.HooSliderItem.create();
				//mwah this._stateMachine._delegate = this;
				//mwah this._stateMachine._setupStateMachine( 0 );
				//mwah this._stateMachine.setInitialState( 0 );

				//mwah this._busyFadeHelper = ABoo.BusyFadeHelper.create();
			},

			_createGraphic: function() {
				return ABoo.HooSimpleSliderGraphic.create( { _rootItemId:this.id, _itemType:".slider" } ); // _textHolder:"span", _labelStates: this.json.labelStates
			},

			_createStateController: function() {
				return ABoo.HooSliderItem.create( { _graphic:this._buttonGraphic } );
			},

			setupDidComplete: function() {

				this._super();
				//mwah HOO_nameSpace.assert( this._hooCanvas, "this button must be added to a canvas to work" );

				// some disaster of order of operations here - resizeAll has alreadyw been called too many times, we just werent ready
				this._started = true;
				this.resizeAll();

				//mwah /* Redo Bindings */
				//mwah var hasBinding = this.setup_hoo_binding_from_json( 'enabledBinding' );
				//mwah if( hasBinding==false && this.json.initialState>0 ) {
				//mwah 	this._stateMachine.processInputSignal( "enable" );
				//mwah }

				var hasMaxValBinding = this.setup_hoo_binding_from_json( 'maxAmountValueBinding' );
				var hasLoadedValBinding = this.setup_hoo_binding_from_json( 'loadedValueBinding' );
				var hasPlayedValBinding = this.setup_hoo_binding_from_json( 'playedValueBinding' );

				// remember! the alert stuff doesnt work in ie
				//mwah this._mouseClickAction = this.setup_hoo_action_from_json( 'mouseClickAction' );
			},


			// we observed a change!
			// If no binding is found this gets called anyway? So assume default is on?
			readyDidChange: function( target, property ) {

				//pbtarget.removeObserver( property, this, this.readyDidChange );
				// handle disable as well as enable?

				// why does this seem to be
				if( target.get(property) ) {
					this._buttonSMControl.sendEvent( "ev_showState1" );
				}
			},

			/* we observed a change! - notification callback */
			maxAmountDidChange:  function( target, property ) {
				var updatedVal =  target[property];
				this.set( '_maxAmount', updatedVal );
				this.recalcLoadedAndPlayedAmounts();
			},


			/* we observed a change! - notification callback */
			loadedDidChange: function( target, property ) {
				var percent = ABoo.HooMath.xAsUnitPercentOfY( target[property], this._maxAmount );
				this.setLoadAmount(percent);
			},

			/* we observed a change! - notification callback */
			playedDidChange: function( target, property ) {
				var updatedAmount = target[property];
				var percent = ABoo.HooMath.xAsUnitPercentOfY( updatedAmount, this._maxAmount );
				//console.log("Played "+updatedAmount+" "+percent );
				this.setPlayAmount(percent);
			},


			recalcLoadedAndPlayedAmounts: function() {
				this.setPlayAmount(this._playedAmount);
				this.setLoadAmount(this._loadedAmount);
			},

			// could/should do this with SC bindings?
			setPlayAmount: function( arg ) {
				this.set( '_playedAmount', arg );
				var playDivWidth = this._maxBarWidth*this._playedAmount;
			    this._playProgressDiv.width( playDivWidth );
			},

			setLoadAmount: function( arg ) {
				this.set( '_loadedAmount', arg );
				var loadDivWidth = this._maxBarWidth*this._loadedAmount;
				// console.log("LoadDivWidth = "+this._maxBarWidth);
			    this._loadProgressDiv.width(loadDivWidth);
			},

			//mwah  getClickableItem: function() {
			//mwah 	alert("oh really?");
			//mwah 	return  this.getFirstDomItemOfType(".slider");
			//mwah },

			parentDidResize: function() {

				//if(Modernizr.canvas!==undefined)
				if(this._started===true)
					this.resizeAll();
				//}
			},

			resizeAll: function() {

				var newWidth = this.div$.width();
				var newHeight = this.div$.outerHeight();
				//var currentWidth = this._$canvas.width();
				//var currentHeight = this._$canvas.outerHeight();

				console.log("resize "+newWidth);

				if( newWidth!=this._currentWidth || newHeight!=this._currentHeight ) {


					// resize canvas
					//mwah this._$canvas.attr({ width:newWidth, height:newHeight }); // setting the size resets the canvas
					//mwah var ctx = this._$canvas[0].getContext('2d');

					this._maxBarWidth = newWidth-4;
					var maxBarHeight = newHeight-4;

				    //mwah this.draw(ctx, this._maxBarWidth, maxBarHeight);

					this.recalcLoadedAndPlayedAmounts();

					this._currentWidth = newWidth;
					this._currentHeight = newHeight;
				}
			},


			toggleBusy: function() {
				//mwah if(this._busyFadeHelper._showBusy)
				//mwah 	this.stopBusy();
				//mwah else
				//mwah	this.startBusy();
			},

			startBusy: function() {

				var self = this;
				//mwah this._busyFadeHelper._animFunction = function() {
					//mwah var ctx = self._$canvas[0].getContext('2d');
				    //mwah self.draw(ctx, self.div$.width(), self.div$.outerHeight());
					//mwah self._currentTime = (self._currentTime + self._timeStep) % 1000;
				//mwah }
				//mwah this._busyFadeHelper.begin( self._timeStep );
			},

			stopBusy: function() {
				//mwah this._busyFadeHelper.end();
			},


			// wtf is this?
			temporarySetEnabledState: function( stateIndex, enabled ) {
				alert("wtf");
			},
			enableButton: function( stateIndex ) {
				alert("wtf");
			},
			showMouseUpState: function( stateIndex ) {
				alert("woo mouse up");
			},

			showMouseDownState: function( stateIndex ) {
				alert("wtf");

				if(this._mouseClickAction) {
					var newPos = this.localXPosition();
					this._lastDragXAmount = newPos;
					console.log("click at pos "+newPos);
					this._mouseClickAction.a.call( this._mouseClickAction.t, newPos );
				}
			},

			mouseDragged: function(e){
				alert("wtf");

				if(this._mouseClickAction) {

					var xamount = this.localXPosition();  // IE fires mouse events continuously even when it doesn't move more than 1 pixel
					if( xamount!=this._lastDragXAmount) {
						this._mouseClickAction.a.call( this._mouseClickAction.t, xamount );
						this._lastDragXAmount = xamount;
					}
				}
			},

			fireAction: function( nextState, argsHash ) {
				alert("wtf");

				argsHash.onCompleteAction.call( argsHash.onCompleteTarget );
			},

			// convert mouse coord to slider position
			localXPosition: function(){

				if(this._stateMachine.lastWindowEvent) {
					var x = this._stateMachine.lastWindowEvent.pageX;
					var y = this._stateMachine.lastWindowEvent.pageY;
					var pos = this._loadProgressDiv.offset();
					var xval;
					// var size = [this._loadProgressDiv.width(), this._loadProgressDiv.height()];
					if( pos.left>x )
						xval = 0;
					else if((pos.left + this._maxBarWidth)<x)
						xval = 1;
					else
						xval = (x-pos.left)/this._maxBarWidth;

					if(xval > this._loadedAmount)
						xval  = this._loadedAmount
					return xval;
				}
				return -1;
			}

		});
