-# http://0.0.0.0:3000/widgets/HooPlayPauseButton
-# http://0.0.0.0:3000/widgets/HooPlayPauseButton?initialState=1&percentOfCanvas=0.5

- push( hoo_play_pause_button )

-# If no javascript, what would you expect? A link that says play
%div[_]{ :data=> {'jsclass'=>'ABoo.HooPlayPauseButton'}, :style=> "width:200px; height:200px;"}
	= link_to "play mp3", "#{_.action}", {'data-jshide'=>'true'}
	= insert( _.views, "" )
