-# http://0.0.0.0:3000/widgets/beepertestflash
-# http://shooley.audioboo.fm:3000/widgets/HeadlessMp3TestFlash

- push( beeper_test_flash )

- wrapLiveObject( _, :style=>'border:1px solid black; margin:3px; background-color: white;' ) do
	= image_tag("rails.png", :style=>"padding-right: 10px; padding-top: 5px;" )

- if( _.includeOnce? )
	:javascript

		#{_.qualifiedJsClassName} = ABoo.SCView.extend({

			_state: undefined,

			didInsertElement: function() {
				this._super();
				this._state = false;
			},

			mouseUp: function(ev$) {

				if( this._state==false ) {
					var img = this.getFirstDomItemOfType("img");
					if(img) {
						var flashURL = ABoo.HeadlessSharedFlashObject.uRLForSwf( "beeper/Beeper" );
						var headlessFlashOb = ABoo.HeadlessSharedFlashObject.sharedSwfForURL( flashURL, 1, 1, {} );
						// NB, it only swaps in when fails to load due to flash blocker
						headlessFlashOb.swapInForItem( this, img );
					}
				}
			},

			didSwapInFlash: function( swf ) {
				this._state = true;
			},

			didSwapOutFlash: function( swf ) {
				this._state = false;
			}
		});


