-# http://0.0.0.0:3000/widgets/HeadlessFlashMp3Test
-# http://shooley.audioboo.fm:3000/widgets/HeadlessFlashMp3Test

-# push( headless_flash_mp3_test)

- wrapLiveObject( _, :style=>'border:1px solid black; margin:3px; background-color: white;' ) do
	-# TODO: really we want a link here, right? Then in js we remove the link and show the image,
	-# or we could put the image in as well as the link. Ok, so the link is optional
	= image_tag("rails.png", :style=>"width:75px; height:75px; padding-right: 10px; padding-top: 5px;" )
	= link_to "click to play mp3", _.mp3Url

- if( _.includeOnce? )
	:javascript

		/*
		 * Small Player with canvas front-end (flash backend)
		*/
		#{_.qualifiedJsClassName} = ABoo.NewAbstractSmallPlayer.extend( ABoo.PropertyAnimMixin, {

			createPlayerBackend: function() {
				this._playerBackend = ABoo.NewFlashHeadlessPlayerBackend.create( {_controller:this, _mp3URL:this.json.mp3Url} );
				this._playerBackend._autoplay = true;
			}
		});


