-# http://0.0.0.0:3000/widgets/HeadlessHtml5Mp3Test
-# http://shooley.audioboo.fm:3000/widgets/HeadlessHtml5Mp3Test

- wrapLiveObject( _, :style=>'border:1px solid black; margin:3px; background-color: white;' ) do
	-# TODO: really we want a link here, right? Then in js we remove the link and show the image,
	-# or we could put the image in as well as the link. Ok, so the link is optional
	= image_tag("rails.png", :style=>"width:75px; height:75px; padding-right: 10px; padding-top: 5px;" )
	= link_to "click to play mp3", _.mp3Url

	-# != "$('.grid').replaceWith('#{escape_javascript(render :partial => 'list')}')"

- if( _.includeOnce? )
	:javascript

		/*
		 * Only one of these per page
		*/
		ABoo.NewHTML5HeadlessPlayerSingleton = ABoo.NewAbstractHeadlessPlayerSingleton.extend({
			_headlessAudioOb: undefined,

			// create the backing html5
			init: function( /* init never has args */ ) {
				this._super();
				this._headlessAudioOb = ABoo.HeadlessSharedDomNodeProxy.sharedDivForTag( "audio" );
				this._audioPlayingDomNode = this._headlessAudioOb;
			},

			_getTimeRangeEnd: function( timeRanges, timeRangeIndex ) {
				return timeRanges.end(timeRangeIndex);
			}
		});
		SC.mixin( ABoo.NewHTML5HeadlessPlayerSingleton, ABoo.SingletonClassMethods );


		/*
		 * One of these for each instance on the page
		*/
		ABoo.NewHtml5HeadlessPlayerBackend = ABoo.NewAbstractHeadlessPlayerBackend.extend({
			_createSingletonPlayer: function() {
				this._headLessSingleton = ABoo.NewHTML5HeadlessPlayerSingleton.sharedInstance();
			}
		});


		/*
		 * Small Player with canvas front-end (html5 backend)
		*/
		#{_.qualifiedJsClassName} = ABoo.NewAbstractSmallPlayer.extend( ABoo.PropertyAnimMixin, {

			createPlayerBackend: function() {
				this._playerBackend = ABoo.NewHtml5HeadlessPlayerBackend.create( {_controller:this, _mp3URL:this.json.mp3Url} );
			}

		});


