-# http://0.0.0.0:3000/widgets/headless_mp3_test_flash

- push( headless_mp3_test_flash )

- wrapLiveObject( _, :style=>'border:1px solid black; margin:3px; background-color: white;' ) do
	= image_tag("rails.png", :style=>"padding-right: 10px; padding-top: 5px;" )

- if( _.includeOnce? )
	:javascript

		ABoo.NewHeadlessFlashPlayerBackend = SC.Object.extend({

			_swfSrc: "HeadlessPlayer/lib/Debug/HeadlessPlayer",
			_headlessFlashOb: undefined,
			_mp3URL: undefined,
			_state: false,
			_stateMachine: undefined,

			_attachToPage: function( $pageItem ) {

				this._stateMachine = ABoo.AudioPlayerStateMachine.create( {_controller: this} );
				var flashURL = ABoo.HeadlessSharedFlashObject.uRLForSwf( "HeadlessPlayer/lib/Debug/HeadlessPlayer" );
				this._headlessFlashOb = ABoo.HeadlessSharedFlashObject.sharedSwfForURL( flashURL, 1, 1, {autostart:'play'} );
				// NB, it only swaps in when fails to load due to flash blocker
				this._headlessFlashOb.swapInForItem( this, $pageItem );
			},

			// this doesn't mean that the swf is ready
			didSwapInFlash: function( swf ) {
				this._state = true;
			},

			didSwapOutFlash: function( swf ) {
				this._state = false;
			},

			flashDidLoad: function( swf ) {
				this._headlessFlashOb._commandableSwf.setSwfAttribute( 'src', this._mp3URL );
				this._headlessFlashOb._commandableSwf.load();
			}
		});

		// ABoo.NewHeadlessPlayerSingleton = SC.Object.extend({
		/// wwwaaaaahhhh
		// });

		#{_.qualifiedJsClassName} = ABoo.SCView.extend({

			_flashPlayerBackend: undefined,

			didInsertElement: function() {
				this._super();

				this._flashPlayerBackend = ABoo.NewHeadlessFlashPlayerBackend.create( {_mp3URL:this.json.mp3Url} );
			},

			mouseUp: function(ev$) {

				if( this._flashPlayerBackend._state == false ) {
					var img$ = this.getFirstDomItemOfType("img");
					if(img$) {
						this._flashPlayerBackend._attachToPage(img$);
					}
				}
			}

		});


