-# http://0.0.0.0:3000/widgets/multiple_small_player_mp3_test_flash
-# http://shooley.audioboo.fm:3000/widgets/HeadlessMp3TestFlash

-# push( multiple_small_player_mp3_test_flash )

%div
	= insert( _.views, "" )

