-# http://0.0.0.0:3000/widgets/MultipleHeadlessFlashMp3Test
-# http://shooley.audioboo.fm:3000/widgets/MultipleHeadlessFlashMp3Test

-# push( multiple_headless_flash_mp3_test )

%div
	= insert( _.views, "" )

