-# http://0.0.0.0:3000/widgets/MultipleHeadlessMp3TestFlash
-# http://shooley.audioboo.fm:3000/widgets/MultipleHeadlessMp3TestFlash

- push( multiple_headless_mp3_test_flash )

%div
	= insert( _.views, "" )

