-# http://0.0.0.0:3000/widgets/MultipleHeadlesshtml5Mp3Test
-# http://shooley.audioboo.fm:3000/widgets/MultipleHeadlessHtml5Mp3Test

-# push( multiple_headless_html5_mp3_test )

%div
	= insert( _.views, "" )

